body{
background:#0e0e0e;
color:white;
font-family:Arial;
text-align:center;
}

.hero{
padding:100px 20px;
}

.hero h1{
font-size:70px;
color:#00ff88;
}

.buttons a{
background:#00ff88;
color:black;
padding:15px 25px;
margin:10px;
display:inline-block;
text-decoration:none;
border-radius:8px;
}

.mascot{
width:250px;
margin-top:30px;
}

.mascot{
width:220px;
margin-top:30px;
animation: float 4s ease-in-out infinite;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-20px)}
100%{transform:translateY(0)}
}
